body{
    background-color: rgb(68, 224, 224);
}
p{
    color: rgb(7, 1, 1);
}
h4{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 25px;
    color: white;
}
h1 {
    color: #0a3f80;
    }
    
    .container {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff0f0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    
    button {
    padding: 10px 20px;
    margin: 10px;
    position: relative;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #f33c0e;
    color: white;
    font-size: 16px;
    }
    
    button:hover {
    background-color: #010b16;
    }